body,h1,h2,p
{
    text-align: center;   
}
#body_color
{
 background-color: #D7E9F7;
}
h1
{
  padding:30px;
}
h1,h2,h3
{
  font-family: 'Noto Sans TC', sans-serif;
}
img
{
  display: block;
  max-width: 100%;
  max-height: 100%;
}
p
{
  font-family: 'Prompt', sans-serif;
}

/************************* heading ******************************/
.heading_style
{
  font-size:3vw;
  color:#242F9B;
  font-family:'Merriweather',serif;
  margin-top:10%;
}
.header_img
{
  height:700px;
  width:100%;
}
.header_caption
{
  margin-bottom:30%;
}

/************************************** navbar *************************/
.items_of_nav
{
  padding:12px;
}
.navbar
{
    background-color:#fff !important;
}
a:hover
{
  color:#fff !important;
}
nav.shift ul li a 
{
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover
{
  color: #242F9B;
}
nav.shift ul li a:after 
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #242F9B;

  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after 
{
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/**************** services  ******************/
.services_img
{
  width:370px;
  height:250px;
}

/***************** products *****************/
.products_img
{
  width:370px;
  height:250px;
}

/************************ clients *********************/
.clients_color
{
  color:black;
}

/******************* footer *********************/
.footer_style
{
  background-color: #BEDCFA;
}

/****************** block ******************************/
.block_css
{
  margin: 50px 50px 0px 50px;
  text-align: center;
}
.row
{
    padding:30px;
}

/**************************** hr *************************/
 .hr_css
{
  width: 80%;
  height:5px !important;
  color:rgb(0,0,0) !important ;
  border-width:0;
  margin-left:10%;
} 

/*********************** corousel **********************/
.carousel-control-next,
.carousel-control-prev 
{
    filter: invert(100%);
}